<body>
    <header class="header">
      <div>
        <h2 class="text_head">Inventario</h2>
      </div>
      <div class="header_sub">
        <h2 class="text_head">Usuario</h2>
        <div><button class="btn_primary btn_exit">Salir</button></div>
      </div>
    </header>
    <main class="container">
      <div class="modal-agregar">
        <div class="modal-contenido-user">
          <label for="" class="id_user_num">2</label>
          <h2>Stock de producto</h2>
          <form>
            <div class="form-group">
              <label for="Producto">Producto:</label>
              <label for="Producto">Manzana</label>
  
            </div>
            <div class="form-group">
              <label for="Codigo">Codigo:</label>
              <label for="Codigo">2023432223</label>
  
            </div>
            <div class="form-group">
              <label for="Cantidad">Cantidad contada:</label>
              <input type="text" id="Cantidad" name="Cantidad" required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn_submit">Realizar</button>
              <button type="button" class="btn_cancelar_user">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
      <div class="container_menu">
        <div class="contenedor_table">
          <h2>Lista de Productos</h2>
          <div class="container_menu_table">
            <div>
              <button class="btn_primary btn_user btn_agregar export">Exportar Producto</button>
            </div>
            <div>
              <input type="text" class="input_bus" placeholder="Buscar">
            </div>
          </div>
          <div class="menu_tabla">
            <a href="#">Producto</a>
            <a href="#">Codigo</a>
            <a href="#">Categoria</a>
            <a href="#">Precio</a>
            <a href="#">Cantidad</a>
            <a href="#" class="acc">Accion</a>
          </div>
          <div class="table">
            <div class="list_table">
              <label for="" class="id_user_num">2</label>
              <label for="">Manzana</label>
              <label for="">2023432223</label>
              <label for="">Enlatado</label>
              <label for="">50</label>
              <label for="">10</label>
              <div class="btn_td acc">
                <button class="btn_editar exit_product">Stock de producto</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script>
  
      document.addEventListener('DOMContentLoaded', function () {
        const cancelBtn = document.querySelector('.btn_cancelar_user');
        const accion_realiza = document.querySelector('.btn_submit');
  
        const modal = document.querySelector('.modal-agregar');
        const cuerpo = document.querySelector('.table');
  
        // Asignar el evento de clic al contenedor del botón
        cuerpo.addEventListener('click', function (event) {
          if (event.target.classList.contains('exit_product')) {
            modal.classList.add('mostrar');
          }
        });
  
        cancelBtn.addEventListener('click', () => {
          modal.classList.remove('mostrar');
        });
        accion_realiza.addEventListener('click', () => {
          alert("Listo")
        });
      });
  
      // Obtener el elemento con la clase "btn_usuario"
      var btnUsuario = document.querySelector('.btn_exit');
  
      // Agregar el evento de clic al elemento
      btnUsuario.addEventListener('click', function () {
        // Redireccionar al archivo "usuario.html"
        window.location.href = routerLink="/dash";
      });
    </script>
  </body>