<body>
    <main class="container">
        <div class="contenedor">
            <div class="form">
                <div class="form_sec">
                    <h2 class="form_name">ContabilidadSinRebu</h2>
                    <div class="form_imput">
                        <h2 class="form_title">Hola, <span>Usuario</span></h2>
                        <p class="title_sec">Estas recuperando tu contraseña</p>
                        <form #form="ngForm">
                          <div class="group_imput group_imput_logic">
                            <input ngModel name="password" type="password" id="newPassword" class="form_input" placeholder="Escribe la nueva contraseña">
                            <input ngModel name="confirmPassword" type="password" id="confirmPassword" class="form_input" placeholder="Escribe repite la contraseña">
                        </div>
                        </form>
                        <div class="btn">
                            <button (click)="changePassword(form)" class="btn_primary" id="update">Actualizar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
</body>
