<body>
  <main class="container">
      <div class="contenedor">
          <div class="form">
              <div class="form_sec">
                  <h2 class="form_name">ContabilidadSinRebu</h2>
                  <div class="form_imput">
                      <h2 class="form_title">{{pagText}}</h2>
                      <div class="group_imput group_imput_logic">
                          <input [(ngModel)]="input" type="text" id="newPassword" class="form_input" placeholder= {{pagPlaceholder}}>
                      </div>
                      <div class="btn">
                          <button class="btn_primary" id="update" (click)="enviarCorreo()">{{pagButton}}</button>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </main>
